.app {
  align-items: center;
  background-color: #282c34;
  color: #FFF;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 1vmin);
  justify-content: center;
  min-height: 100vh;
}
